{% load static %}
{% load catalog_menu %}
{% load main_slider %}
{% load right_banners %}
{% load top_menu %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/sliderkit-core.css" %}" rel="stylesheet">
    <link href="{% static "css/sliderkit-demos.css" %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <title>Document</title>
</head>
<body>
<div id="all-content">

    <div id="header">
        <div class="logo">Darya-A-Shop</div>
        <div class="header-info">
            <span class="header-info-one">Магазин модной, молодежной одежды, обуви и акссеусуаров.</span>
            <span class="motto"><img src="{% static "images/motto.png" %}" alt="С нами быть модной легко!"/></span>
        </div>
        <div class="contact-info">
            <p>Пишите, звоните. Мы рады Вам помочь!</p>
            <div class="number">8(968)0137182</div>
            <div class="mail"><a href="mailto:darya-a-shop@yandex.ru">darya-a-shop@yandex.ru</a></div>
            <div class="button"><a href="#">Заказать звонок</a></div>
        </div>
    </div>

    {% top_menu %}

    <div id="main-content">
        <div id="left-block">
            <div class="banner">
                <img src="{% static "images/banner1.jpg" %}" alt="Баннер"/>
            </div>
            {% catalog_menu %}
        </div>
        <div id="center-block">

            {% main_slider %}

            {% block content %}

            {% endblock %}


        </div>
        <div id="right-block">
            <div class="header-of-right-block"><p>Будь в курсе! Подпишись на нас в соц. сетях!</p></div>
            <div class="block-vk">
                <div class="r-header-block">Мы в вконтакте:</div>
                <img src="{% static "images/vk.jpg" %}" alt="Вконтакте"/>
            </div>
            <div class="block-instr">
                <div class="r-header-block">Мы в инстаграм:</div>
                <div class="instr">
                    <a href="@lux_style_darya"><img src="{% static "images/instgr.png" %}" alt=""/><p>@lux_style_darya</p></a>
                </div>
            </div>
            {% right_banners %}
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="footer">
    <div class="all-content">
        <div class="all-right">
            <span class="copyr">©</span><span class="namer">Darya-A-Shop</span>все права защищены.
        </div>
        <div class="contact-info cifooter">
            <div class="number">8(968)0137182</div>
            <div class="mail"><a href="mailto:darya-a-shop@yandex.ru">darya-a-shop@yandex.ru</a></div>
            <div class="button"><a href="#">Заказать звонок</a></div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="{% static "js/jquery.easing.1.3.min.js" %}"></script>
<script src="{% static "js/jquery.mousewheel.min.js" %}"></script>
<script src="{% static "js/jquery.sliderkit.1.4.min.js" %}"></script>
<script src="{% static "js/common.js" %}"></script>
</body>
</html>