<h4>Товар добавлен в корзину</h4>

<form class="popupBoxLoginForm" action="">
    <label for="">Ваш e-mail или телефон</label>
    <input type="text"/>
    <label for="">Ваш пароль</label>
    <input type="text"/>
    <input type="checkbox"/>
    <label class="popupBoxLoginFormZap" for="">Запомнить меня</label>
    <a href="#" class="popupBoxLoginFormVos">Забыли пароль?</a>
    <a class="popupBoxBottom" href="#">Войти</a>
</form>

<img class="popupBoxLoginFormClose" src="/static/images/cross97.png">