{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Мои заказы</h1>
    </div>
    <div class="ContentBoxPage">
        <h5>Доставка - {{ order.type_delivery.title }}</h5>
        <p>{{ order.user.name }} {{ order.user.surname }}</p>
        <p>{{ order.index }}, {{ order.region }}, {{ order.city }}, {{ order.address }}</p>

        <table>
            <tr>
                <td><a href="/catalog/product/1/">Пальто Green Frash зеленое</a></td>
                <td>123 руб. x 2</td>
                <td>246 руб.</td>
            </tr>
        </table>
	</div>
</div>
{% endblock %}