{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Мои заказы</h1>
    </div>
    <div class="ContentBoxPage">
        <table>
            <tr>
                <td><a href="#">11</a></td>
                <td><p style="background: #0000ff">Исполнен</p></td>
                <td>
                    <ul>
                        <li>Крем-маска для рук сибирская витаминная, Natura Siberica, 75 мл. x 1</li>
                        <li>Бальзам для губ, Himalaya, 10 мл. x 1</li>
                        <li>Зубная паста "Снежная белизна и сибирский уход. Жемчужина Сибири", Natura Siberica, 100 гр. x 1</li>
                    </ul>
                </td>
                <td>Почта России</td>
                <td>12.10.2015г</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
	</div>
</div>
{% endblock %}