{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Личный кабинет</h1>
    </div>
    <div class="ContentBoxPage">
        {% if orders %}
        <table>
            <tr>
                <td>Номер</td>
                <td>Статус заказа</td>
                <td width="340px">Товары</td>
                <td>Доставка</td>
                <td>Дата заказа</td>
            </tr>
            {% for order in orders %}
            <tr>
                <td align="center"><a href="/user/order/{{ order.id }}/">#{{ order.id }}</a></td>
                <td><p style="background: #ed145b;padding: 2px 4px;color: #fff;">{{ order.status }}</p></td>
                <td width="340px">
                    <ul>
                        {% for product in order.products %}
                        <li><a target="_blank" href="/catalog/product/{{ product.id }}/">{{ product.name }}</a> x {{ product.count }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ order.type_delivery.title }}</td>
                <td>12.10.2015г</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
	</div>
</div>
{% endblock %}