{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Заказ #{{ order.id }}</h1>
    </div>
    <div class="ContentBoxPage">
        <h5 style="font-weight: bold">Доставка - {{ order.type_delivery.title }}</h5>
        <p>{{ order.user.name }} {{ order.user.surname }}</p>
        <p>{{ order.index }}, {{ order.region }}, {{ order.city }}, {{ order.address }}</p>

        <table>
            {% for product in order.products %}
            <tr>
                <td>
                    <div style="width: 40px; height: 35px; float: left; margin-right: 10px; overflow: hidden;">
                        <img style="width: 40px;" src="/static/uploads/{{ product.image }}" alt="{{ product.name }}"/>
                    </div>
                    <p>{{ product.name }}</p>
                </td>
                <td align="center">{{ product.price }} руб. x {{ product.count }}</td>
                <td align="center">{{ product.price_all }} руб.</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" align="right">Доставка ({{ order.type_delivery.title }})</td>
                <td align="center">{{ order.type_delivery.price }} руб.</td>
            </tr>
            <tr>
                <td style="font-weight: bold" colspan="2" align="right">Итого</td>
                <td style="font-weight: bold" align="center">{{ order.sum }} руб.</td>
            </tr>
        </table>
	</div>
</div>
{% endblock %}