{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Регистрация</h1>
    </div>
    <div class="OrderBox">
        <form action="/registrations/" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="OrderBoxUserData">
                <h4>Контактная информация</h4>

                <label>Имя <span style="color: #ff0000">{{ form.first_name.errors }}</span></label>
                {{ form.first_name }}

                <label>Фамилия <span style="color: #ff0000">{{ form.last_name.errors }}</span></label>
                {{ form.last_name }}

                <label>Электронная почта <span style="color: #ff0000">{{ form.email.errors }}</span></label>
                {{ form.email }}

                <label>Телефон <span style="color: #ff0000">{{ form.phone.errors }}</span></label>
                {{ form.phone }}
            </div>

            <div style="clear: both"></div>
        </form>
	</div>
</div>
{% endblock %}