{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="goodss">
    <ul class="catalogCategPath">
        <li><a href="/">Главная</a></li>
        {% for cat in path %}
        <li><a href="/catalog/{{ cat.url }}/">{{ cat.title }}</a></li>
        {% endfor %}
    </ul>
    {% for product in products %}
    <div class="good">
        <div class="goods-img">
            <img src="/static/uploads/{{ product.image }}" alt="img"/>
        </div>
        <div class="about-goods">
            <a href="/catalog/product/{{ product.id }}/">{{ product.name }}</a>
        </div>
        <div class="price">{{ product.price }} руб.</div>
        <div class="good-c">
            <a data-id="{{ product.id }}" href="#">В корзину</a>
        </div>
    </div>
    {% endfor %}
</div>
<div style="clear: both"></div>
{% endblock %}