{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script src="{% static "ajaxuploader/js/fileuploader.js" %}" ></script>
    <link href="{% static "ajaxuploader/css/fileuploader.css" %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="/static/redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/redactor/css/django_admin.css" type="text/css" media="all" rel="stylesheet" />

      <link href="/static/redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/redactor/css/django_admin.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/redactor/jquery.redactor.init.js"></script>
<script type="text/javascript" src="/static/redactor/redactor.js"></script>
<script type="text/javascript" src="/static/redactor/langs/ru.js"></script>
    <script>
        $(function(){
        var uploader = new qq.FileUploader({
            action: "/ajax-upload",
            element: $('#file-uploader')[0],
            multiple: true,
            onComplete: function(id, fileName, responseJSON) {
                if(responseJSON.success) {
                    alert(fileName);
                    alert(id)
                    alert("ok")
                } else {
                    alert("upload failed!");
                }
            },
            onAllComplete: function(uploads) {
                // uploads is an array of maps
                // the maps look like this: {file: FileObject, response: JSONServerResponse}
                alert("All complete!");
            },
            params: {
                'csrf_token': '{{ csrf_token }}',
                'csrf_name': 'csrfmiddlewaretoken',
                'csrf_xname': 'X-CSRFToken'
            }
        });
        });
    </script>
{% endblock %}
{% block extrastyle %}{{ block.super }}
{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block content %}
    <div id="file-uploader">
        <noscript>
            <p>Please enable JavaScript to use file uploader.</p>
        </noscript>
    </div>

    <ul class="breadcrumb">
        <li>
            <a href="/admin/">Начало</a>
            <span class="divider">»</span>
        </li>
        <li>
            <a href="/admin/catalog/">Catalog</a>
            <span class="divider">»</span>
        </li>
        <li>
            <a href="/admin/catalog/product/">
            Products</a>
            <span class="divider">»</span>
        </li>
        <li class="active">
            Добавить product
        </li>
    </ul>

    <div id="content" class="colM row-fluid">
       <h2 class="content-title">Добавить product</h2>
       <div id="content-main" class="inner-two-columns">
          <form enctype="multipart/form-data" action="" method="post" id="product_form" class="form-horizontal">
             <div class="inner-right-column">
                <div class="box save-box">
                   <div class="submit-row clearfix">
                      <button type="submit" class="btn btn-high btn-info" name="_save">Сохранить</button>
                      <button type="submit" name="_continue" class=" btn btn-high">Сохранить и продолжить редактирование</button>
                      <button type="submit" name="_addanother" class="btn">Сохранить и добавить другой объект</button>
                   </div>
                </div>
             </div>
             <div class="inner-center-column">
                <input type="hidden" name="csrfmiddlewaretoken" value="DfE94BndkJxJAcAQFAcvJkd45J5u92GK">
                <div class="tab-content tab-content-main">
                   <fieldset class="module aligned first ">
                      <div class="control-group form-row field-name ">
                         <div>
                            <div class="control-label"><label class="required" for="id_name">Название:</label></div>
                            <div class="controls"><input class="vTextField" id="id_name" maxlength="200" name="name" type="text"></div>
                         </div>
                      </div>

                       <div class="control-group form-row field-price ">
                         <div>
                            <div class="control-label"><label class="required" for="id_price">Цена:</label></div>
                            <div class="controls"><input class="vIntegerField" id="id_price" name="price" type="text"></div>
                         </div>
                      </div>
                      <div class="control-group form-row field-sale ">
                         <div>
                            <div class="control-label"><label class="required" for="id_sale">Скидка, %:</label></div>
                            <div class="controls">
                                <input class="vIntegerField" id="id_sale" name="sale" type="text">
                                <input style="display: inline-block; margin: 0 3px 0 10px;" type="checkbox"/>
                                <label style="display: inline-block;">Сделать скидку</label>
                            </div>
                         </div>
                      </div>
                      <div class="control-group form-row field-count ">
                         <div>
                            <div class="control-label"><label class="required" for="id_count">Товар в наличии:</label></div>
                            <div class="controls">
                                <input class="vIntegerField" id="id_count" name="count" type="text">
                                <input style="display: inline-block; margin: 0 3px 0 10px;" type="checkbox"/>
                                <label style="display: inline-block;">Поставка под заказ</label>
                            </div>
                         </div>
                      </div>

                        <div class="control-group form-row field-short_text ">
                            <div>
                                <div class="control-label"><label class="required" for="id_short_text">Text:</label></div>
                                <div class="controls">
                                    <textarea cols="40" id="id_short_text" name="short_text" rows="10"></textarea>
                                    <script>jQuery(document).ready(function(){jQuery("#id_short_text").redactor(jQuery.extend({}, redactor_default_options, {"lang": "ru", "fileUpload": "/redactor/upload/file/", "imageUpload": "/redactor/upload/image/"}));});</script>
                                </div>
                            </div>
                        </div>


                      <div class="control-group form-row field-status ">
                         <div>
                            <div class="control-label"><label class="required" for="id_status">Рекламные метки:</label></div>
                            <div class="controls"><input class="vIntegerField" id="id_status" name="status" type="text"></div>
                         </div>
                      </div>
                      <div class="control-group form-row field-text ">
                         <div>
                            <div class="control-label"><label class="required" for="id_text">Описание:</label></div>
                            <div class="controls"><textarea class="vLargeTextField" cols="40" id="id_text" name="text" rows="10"></textarea></div>
                         </div>
                      </div>
                      <div class="control-group form-row field-keywords ">
                         <div>
                            <div class="control-label"><label class="required" for="id_keywords">Ключевые слова:</label></div>
                            <div class="controls"><input class="vTextField" id="id_keywords" maxlength="200" name="keywords" type="text"></div>
                         </div>
                      </div>
                      <div class="control-group form-row field-description ">
                         <div>
                            <div class="control-label"><label class="required" for="id_description">Description:</label></div>
                            <div class="controls"><input class="vTextField" id="id_description" maxlength="200" name="description" type="text"></div>
                         </div>
                      </div>
                   </fieldset>
                </div>
             </div>
          </form>
       </div>
    </div>
{% endblock %}