{% extends "main.html" %}
{% load staticfiles %}

{% block head %}
    <title>Darya-Shop</title>
{% endblock %}

{% block content %}
<div class="goodss">
    {% for product in products %}
    <div class="good">
        <div class="goods-img">
            <img src="/static/uploads/{{ product.image }}" alt="img"/>
        </div>
        <div class="about-goods">
            <a href="/catalog/product/{{ product.id }}/">{{ product.name }}</a>
        </div>
        <div class="price">{{ product.price }} руб.</div>
        <div class="good-c">
            <a href="#">В корзину</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}