{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="CatalogProductBox">
    <div class="CatalogGalleryBox">
        <img src="{% static "images/catalog-galery.png" %}" alt=""/>
    </div>
    <h1>{{ product.name }}</h1>
    <div class="CatalogPriceBox">
        <p class="CatalogPriceBoxPrice">Цена: <span>{{ new_price }} руб.</span></p>
        <p class="CatalogPriceOld">{{ product.price }} руб.</p>
        <a href="#">Купить</a>
    </div>
    {{ product.text }}
    <div style="clear: both"></div>
</div>
{% endblock %}