{% extends "main.html" %}
{% load static %}

{% block content %}
<div class="CatalogProductBox">
    <div class="CatalogProductBoxCont">
        <h1>{{ product.name }}</h1>
        <div class="CatalogPriceBox">
            <p class="CatalogPriceBoxPrice">Цена: <span>{{ new_price }} руб.</span></p>
            <p class="CatalogPriceOld">{{ product.price }} руб.</p>
            <a href="#" data-id="{{ product.id }}">Купить</a>
        </div>
        <div class="CatalogProductBoxContent">
            {{ product.text|safe }}
        </div>
        <div style="clear: both"></div>
    </div>

    <div class="galeryBox">
        <div class="galeryBoxImg">
            <img src="/static/uploads/{{ product.image }}">
        </div>
        <div class="your-class">
            <div><img src="/static/uploads/{{ product.image }}"></div>
            {% for img in images %}
                <div><img src="/static/uploads/{{ img }}"></div>
            {% endfor %}
        </div>
	</div>

    <div class="goodss">

        <div class="good" style="width: 159px;">
            <div class="goods-img">
                <img src="/static/uploads/xsfxhrci.png" alt="img">
            </div>
            <div class="about-goods">
                <a href="/catalog/product/1/">Пальто Green Frash зеленое</a>
            </div>
            <div class="price">2000 руб.</div>
            <div class="good-c">
                <a data-id="1" href="#">В корзину</a>
            </div>
        </div>

        <div class="good mar0" style="width: 159px;">
            <div class="goods-img">
                <img src="/static/uploads/df076nso.jpg" alt="img">
            </div>
            <div class="about-goods">
                <a href="/catalog/product/2/">Новый товар</a>
            </div>
            <div class="price">1200 руб.</div>
            <div class="good-c">
                <a data-id="2" href="#">В корзину</a>
            </div>
        </div>

    </div>

    <div class="relatedProducts">
        <h3>Сопутствующие товары</h3>

        <div class="relatedProductsItem">
            <a href="#">
                <div class="relatedProductsItemImg">
                    <img src="/static/uploads/{{ product.image }}">
                </div>
                <h4>Платье какое-то</h4>
                <p class="price">12000 руб.</p>
            </a>
        </div>
    </div>

    <div style="clear: both"></div>
</div>
{% endblock %}


{% block script %}
<link rel="stylesheet" type="text/css" href="{% static "slick/slick.css" %}"/>
<script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.your-class').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          autoplaySpeed: 2000,
          arrows: true,
          prevArrow: '<button type="button" class="slick-prev"><</button>',
          nextArrow: '<button type="button" class="slick-next">></button>'
        });
    });
</script>
<script type="text/javascript">
$(document).ready(function(){
    $(".slick-slide img").click(function(){
        var img = $(this).attr("src");
        $(".galeryBoxImg img").attr("src", img);
    });
});
</script>
{% endblock %}