<div class="main-slider">
    <div class="sliderkit photoslider-bullets">
        <div class="sliderkit-nav">
            <div class="sliderkit-nav-clip">
                <ul>
                    {% for slider in sliders %}
                    <li><a href="#" title="{{ slider.title }}"></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="sliderkit-panels">
            {% for slider in sliders %}
            <div class="sliderkit-panel">
                <img src="{% static "images/mban1.jpg" %}" alt="[Alternative text]" />
            </div>
            <div class="sliderkit-panel">
                <img src="{% static "images/photos/sample-02.jpg" %}" alt="[Alternative text]" />
            </div>
            <div class="sliderkit-panel">
                <img src="{% static "images/photos/sample-03.jpg" %}" alt="[Alternative text]" />
            </div>
            <div class="sliderkit-panel">
                <img src="{% static "images/photos/sample-04.jpg" %}" alt="[Alternative text]" />
            </div>
            <div class="sliderkit-panel">
                <img src="{% static "images/photos/sample-05.jpg" %}" alt="[Alternative text]" />
            </div>
            {% endfor %}
        </div>
    </div>
</div>