<div class="main-slider">
    <div class="sliderkit photoslider-bullets">
        <div class="sliderkit-nav">
            <div class="sliderkit-nav-clip">
                <ul>
                    {% for slider in sliders %}
                    <li><a href="#" title="Photo sample 01"></a></li>
                    {% endfor %}
                    <li><a href="#" title="Photo sample 02"></a></li>
                    <li><a href="#" title="Photo sample 03"></a></li>
                    <li><a href="#" title="Photo sample 04"></a></li>
                    <li><a href="#" title="Photo sample 05"></a></li>
                </ul>
            </div>
        </div>
        <div class="sliderkit-panels">
            {% for slider in sliders %}
            <div class="sliderkit-panel">
                <img src="{{ slider.image }}" alt="[Alternative text]" />
            </div>
            {% endfor %}
            <div class="sliderkit-panel">
                <img src="/static/images/photos/sample-02.jpg" alt="[Alternative text]" />
            </div>
            <div class="sliderkit-panel">
                <img src="/static/images/photos/sample-03.jpg" alt="[Alternative text]" />
            </div>
            <div class="sliderkit-panel">
                <img src="/static/images/photos/sample-04.jpg" alt="[Alternative text]" />
            </div>
            <div class="sliderkit-panel">
                <img src="/static/images/photos/sample-05.jpg" alt="[Alternative text]" />
            </div>
        </div>
    </div>
</div>