<div class="main-slider">
    <div class="sliderkit photoslider-bullets">
        <div class="sliderkit-nav">
            <div class="sliderkit-nav-clip">
                <ul>
                    {% for slider in sliders %}
                    <li><a href="#" title="{{ slider.title }}"></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="sliderkit-panels">
            {% for slider in sliders %}
            <div class="sliderkit-panel">
                <img src="{{ slider.image }}" alt="[Alternative text]" />
            </div>
            {% endfor %}
            <div class="sliderkit-panel">
                <img src="/static/uploads/sample-02.jpg" alt="[Alternative text]" />
            </div>
            <div class="sliderkit-panel">
                <img src="/static/uploads/sample-03.jpg" alt="[Alternative text]" />
            </div>
            <div class="sliderkit-panel">
                <img src="/static/uploads/sample-04.jpg" alt="[Alternative text]" />
            </div>
            <div class="sliderkit-panel">
                <img src="/static/uploads/sample-05.jpg" alt="[Alternative text]" />
            </div>
        </div>
    </div>
</div>