{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Корзина</h1>
    </div>
    <div class="ContentBoxPage" style="background: #eee">
        <div class="CartItem">
            <img class="CartItemImage" src="{% static "images/sample-03.jpg" %}">
            <h3>Товар название ывавф</h3>
            <p class="CartItemPriceLabel">Цена:</p>
            <p class="CartItemPrice">1200 р.</p>
            <p class="CartItemCountLabel">Количество</p>
            <p class="CartItemCount"><img src="">3</p>
            <p class="CartItemSummLabel">Сумма</p>
            <p class="CartItemSumm">3600 р.</p>
            <img class="CartItemDelete" src="{% static "images/cross97.png" %}" />
            <div style="clear:both"></div>
        </div>

        <div class="CartItem">
            <img class="CartItemImage" src="{% static "images/sample-03.jpg" %}">
            <h3>Товар название ывавф</h3>
            <p class="CartItemPriceLabel">Цена:</p>
            <p class="CartItemPrice">1200 р.</p>
            <p class="CartItemCountLabel">Количество</p>
            <p class="CartItemCount"><img src="">3</p>
            <p class="CartItemSummLabel">Сумма</p>
            <p class="CartItemSumm">3600 р.</p>
            <img class="CartItemDelete" src="{% static "images/cross97.png" %}" />
            <div style="clear:both"></div>
        </div>

        <div class="CartItem">
            <img class="CartItemImage" src="{% static "images/sample-03.jpg" %}">
            <h3>Товар название ывавф</h3>
            <p class="CartItemPriceLabel">Цена:</p>
            <p class="CartItemPrice">1200 р.</p>
            <p class="CartItemCountLabel">Количество</p>
            <p class="CartItemCount"><img src="">3</p>
            <p class="CartItemSummLabel">Сумма</p>
            <p class="CartItemSumm">3600 р.</p>
            <img class="CartItemDelete" src="{% static "images/cross97.png" %}" />
            <div style="clear:both"></div>
        </div>

        <div class="CartItem">
            <img class="CartItemImage" src="{% static "images/sample-03.jpg" %}">
            <h3>Товар название ывавф</h3>
            <p class="CartItemPriceLabel">Цена:</p>
            <p class="CartItemPrice">1200 р.</p>
            <p class="CartItemCountLabel">Количество</p>
            <p class="CartItemCount"><img src="">3</p>
            <p class="CartItemSummLabel">Сумма</p>
            <p class="CartItemSumm">3600 р.</p>
            <img class="CartItemDelete" src="{% static "images/cross97.png" %}" />
            <div style="clear:both"></div>
        </div>
    </div>
</div>
{% endblock %}