{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Форма заказа</h1>
    </div>
    <div class="OrderBox">
		<h3>У меня уже есть акаунт в интернет-магазине Darya-Shop - <a href="#">войти</a></h3>

		<div class="OrderBoxUserData">
            <h4>Контактная информация</h4>

            <label>Имя</label>
            <input type="text" required/>

            <label>Фамилия</label>
            <input type="text" required/>

            <label>Электронная почта</label>
            <input type="text" required/>

            <label>Телефон</label>
            <input type="text" required/>
		</div>

        <div class="OrderBoxAddressData">
            <h4>Адрес доставки</h4>

            <label>Область</label>
            <input type="text" required/>

            <label>Город</label>
            <input type="text" required/>

            <label>Индекс</label>
            <input type="text" required/>

            <label>Адрес</label>
            <textarea name="" id="" cols="30" rows="10" required></textarea>
		</div>

        <div class="OrderBoxAddressType">
            <h4>Вариант доставки</h4>

            {% for type_delivery in types_delivery %}
            <div class="OrderBoxAddressTypeItem">
                <input type="radio" name="type_address"/>
                <h5>{{ type_delivery.title }} - <span style="color: #ed145b">{{ type_delivery.price }} руб.</span></h5>
                <p>{{ type_delivery.description }}</p>
            </div>
            {% endfor %}

            <div style="clear: both"></div>
        </div>

        <div class="OrderBoxConfirmation">
            <h4>Подьверждение заказа</h4>

            <table>
                <tr>
                    <td width="150px">Сумма заказа:</td>
                    <td align="right" class="OrderBoxConfirmationPrice">3600 руб.</td>
                </tr>
                <tr>
                    <td>Доставка:</td>
                    <td align="right" class="OrderBoxConfirmationPrice">300 руб.</td>
                </tr>
                <tr style="border-top: 1px solid #eee">
                    <td>Итого:</td>
                    <td align="right" class="OrderBoxConfirmationPrice">3900 руб.</td>
                </tr>
            </table>

            <a href="#">Оформить заказ</a>

            {{ sum }}

        </div>

        <div style="clear: both"></div>
	</div>
</div>
{% endblock %}