{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Корзина</h1>
    </div>
    <div class="OrderBox">
		<h3>У меня уже есть акаунт в интернет-магазине Darya-Shop - <a href="#">войти</a></h3>

		<div class="OrderBoxUserData">
            <h3>Контактная информация</h3>

            <label>Имя</label>
            <input type="text" required/>

            <label>Фамилия</label>
            <input type="text" required/>

            <label>Электронная почта</label>
            <input type="text" required/>

            <label>Телефон</label>
            <input type="text" required/>
		</div>

        <div class="OrderBoxAddressData">
            <h3>Адрес доставки</h3>

            <label>Область</label>
            <input type="text" required/>

            <label>Город</label>
            <input type="text" required/>

            <label>Индекс</label>
            <input type="text" required/>

            <label>Адрес</label>
            <textarea name="" id="" cols="30" rows="10" required></textarea>
		</div>
	</div>
</div>
{% endblock %}